[package]
name = "hyperspace-testsuite"
version = "0.1.0"
edition = "2021"
description = "Integration testsuite for hyperspace-core and its interfaces"
authors = [
    "Seun Lanlege <seunlanlege@gmail.com>",
    "David Salami <david.salami@gmail.com>",
]

[dependencies]
tokio = { version = "1.19.2", features = ["macros", "sync", "time"] }
log = "0.4.17"
anyhow = "1.0.66"
async-trait = "0.1.58"
futures = "0.3.24"
json = { version = "1.0.85", package = "serde_json" }
tonic = { version = "0.7.2", features = ["tls", "tls-roots"] }

ibc = { path = "../../ibc/modules" }
ibc-proto = { path = "../../ibc/proto" }
tendermint-proto = { git = "https://github.com/farhad-shabani/tendermint-rs", rev= "ab7db0fa89e1634ad9855bc567ba02d9e8916426" }
tendermint-rpc   = { git = "https://github.com/farhad-shabani/tendermint-rs", rev= "ab7db0fa89e1634ad9855bc567ba02d9e8916426", features = ["http-client", "websocket-client"] }

hyperspace-core = { path = "../core", features = ["testing"] }
hyperspace-primitives = { path = "../primitives", features = ["testing"] }
pallet-ibc = { path = "../../contracts/pallet-ibc" }

[dev-dependencies]
# hyperspace-core = { path = "../core", features = ["testing", "build-metadata-from-ws"] }
# hyperspace-parachain = { path = "../parachain", features = ["testing", "build-metadata-from-ws"] }
hyperspace-cosmos = { path = "../cosmos", package = "hyperspace-cosmos", features = ["testing"] }

# substrate
sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.27", features = ["full_crypto"] }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.27" }
sp-keystore = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.27" }
sp-keyring = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.27" }
subxt = { git = "https://github.com/paritytech/subxt", rev = "1736f618d940a69ab212a686984c3be25b08d1c2" }

# We need this so the tests run sequentially
[[test]]
name = "parachain_parachain"
feature = ["dep:hyperspace-parachain"]

[[test]]
name = "cosmos_cosmos"
feature = ["hyperspace-cosmos"]